<div class="col-md-9">
    <div class="blog-post">
        <div class="blog-item-header">
            <h2>
                <a href="#">
                    {{ post.title }}
                </a>
            </h2>
        </div>
        <div class="blog-post-details">
            <!-- Author Name -->
            <div class="blog-post-details-item blog-post-details-item-left user-icon">
                <i class="fa fa-user color-gray-light"></i>
                <a href="#">{{ post.username }}</a>
            </div>
            <!-- End Author Name -->
            <!-- Date -->
            <div class="blog-post-details-item blog-post-details-item-left">
                <i class="fa fa-calendar color-gray-light"></i>
                <a href="#">{{ post.createdAt.date }}</a>
            </div>
            <!-- End Date -->
            <!-- Tags -->
            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                <i class="fa fa-tag color-gray-light"></i>
                <a href="#">PHP</a>,
                <a href="#">Javascript</a>,
                <a href="#">CoffeeScript</a>
            </div>
            <!-- End Tags -->
            <!-- # of Comments -->
            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                <a href="">
                    <i class="fa fa-comments color-gray-light"></i>
                    {{ comments.length }} Comments
                </a>
            </div>
            <!-- End # of Comments -->
        </div>
        <div class="blog-item">
            <div class="clearfix"></div>
            <div class="blog-post-body row margin-top-15">
                <div class="col-md-5">
                    <img class="margin-bottom-20" src="http://symfony.dev/uploads/pictures/{{ post.id }}.{{ post.extension }}" alt="image1">
                </div>
                <div>
                    {{ post.content }}
                </div>
            </div>
            <div class="blog-item-footer">
                <!-- About the Author -->
                <div class="blog-author panel panel-default margin-bottom-30">
                    <div class="panel-heading">
                        <h3>About the Author</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="pull-left" src="assets/img/profiles/87.jpg" alt="image1">
                            </div>
                            <div class="col-md-10">
                                <label>{{ post.username|uppercase }}</label>
                                <p>Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex vel,ex audiam intellegat gfIn labitur discere eos, nam an
                                    feugiat voluptua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End About the Author -->
                <!-- Comments -->
                <div class="blog-recent-comments panel panel-default margin-bottom-30">
                    <div class="panel-heading">
                        <h3>Comments</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="comment in comments">
                            <div class="row">
                                <div class="col-md-2 profile-thumb">
                                    <a href="#">
                                        <img class="media-object" src="assets/img/profiles/99.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-10">
                                    <h4>Great Article</h4>
                                    <p>{{ comment.comment }}</p>
                                    <span class="date">
                                        <i class="fa fa-clock-o color-gray-light"></i>{{ comment.createdAt.date }}</span>
                                </div>
                            </div>
                        </li>
                        <!-- Comment Form -->
                        <li class="list-group-item">
                            <div class="blog-comment-form">
                                <div class="row margin-top-20">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <h3>Leave a Comment</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col-md-12">
                                        <form>
                                            <label>Name</label>
                                            <div class="row margin-bottom-20">
                                                <div class="col-md-7 col-md-offset-0">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                            <label>Email
                                                <span>*</span>
                                            </label>
                                            <div class="row margin-bottom-20">
                                                <div class="col-md-7 col-md-offset-0">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                            <label>Message</label>
                                            <div class="row margin-bottom-20">
                                                <div class="col-md-11 col-md-offset-0">
                                                    <textarea class="form-control" rows="8"></textarea>
                                                </div>
                                            </div>
                                            <p>
                                                <button class="btn btn-primary" type="submit">Send Message</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Comment Form -->
                    </ul>
                </div>
                <!-- End Comments -->
            </div>
        </div>
    </div>
    <!-- End Blog Post -->
</div>
<!-- End Main Column -->